@import "tailwindcss";

/* CONTINUOUS BREAKING NEWS SCROLL */

@keyframes tickerScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-wrapper {
  display: flex;
  width: max-content;
  animation: tickerScroll 20s linear infinite;
}